.static-area-footer-bottom{
    background-color: #e7e7e9;
    margin-top: 80px;
    text-align: center;
    padding: 40px 0 30px;

}


.footer_info{
    text-decoration: none;
    color: #222;
    font: 14px Arial, sans-serif;


}


.footer_info:hover{
    color: #72BB25;

}

.footer_name{
    color: #222222;
    font: 14px Arial, sans-serif;
    margin-top: 25px;
}


.social{margin-top: 25px;}

.social a{
    display: inline-block;
    width: 42px;
    height: 42px;
    margin: 0 2px;

    border-radius: 50%;
    background: url(../img/social.png)#72BB25 no-repeat;
    background-size: 240px;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
         -o-border-radius: 50%;

}

.social a.ic-fb{
    background-position: 0px 0;
  }


.social a.ic-fb:hover{
    background-position: 0px 0px;

    background-color: #252536;
    }

    .social a.ic-tw{
    background-position: -40px 0;
  }


.social a.ic-tw:hover{
    background-position: -40px 0px;

    background-color: #252536;
    }

  .social a.ic-in{
    background-position: -80px 0;
  }


.social a.ic-in:hover{
    background-position: -80px 0px;

    background-color: #252536;
    }

.social a.ic-g{
    background-position: -120px 0px;
  }


.social a.ic-g:hover{
    background-position: -120px 0px;

    background-color: #252536;
    }

.social a.ic-ins{
    background-position: -160px 0;
  }


.social a.ic-ins:hover{
    background-position: -160px 0px;

    background-color: #252536;
    }

.social a.ic-gh{
    background-position: -200px 0;
  }


.social a.ic-gh:hover{
    background-position: -200px 0px;

    background-color: #252536;
    }

.media-area-footer-bottom > a{
    text-transform: none;
}
