
html {
  height: 100%;
}

body {
    padding: 0 0 196px;
    margin: 0;
    font: 16px 'Khula',sans-serif;
    overflow-x: hidden;
    min-height: 100%;
    background: #f5f4f4;
    position: relative;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.main-content-block {
  padding: 40px 15px 50px;
}

.breadcrumb {
    background-color: #e7e7e9;
    width:100%;
    display: none;
    border-radius: 0;
    height: 42px;
}



.top-btn{
    font: 24px Khula, sans-serif;
    color: #72BB25;
    text-transform: uppercase;
    background: none;
    height: 60px;
    border: 2px solid #ffffff;
    width: 250px;
    display: inline-block;
    cursor: pointer;

 }


.top-btn:hover{
    border: 2px solid #b8dd92;

}

.call-btn{
   font-size: 24px;
   line-height: 60px;
   color: #72BB25 ;
   text-transform: uppercase;
   background: none;
   margin-top:30px;
   height: 60px;
   border: 2px solid #72BB25 ;
   width: 250px;
   display: inline-block;
   cursor: pointer;
   transition: border-color 0.2s linear;
}

.call-btn img {
    margin-left: 5px;
    margin-top: -2px;
}

.call-btn:hover{
    border: 2px solid #4d7c1b;

}

.wrapper {
    padding: 60px 500px;
    margin-left: -500px;
    margin-right: -500px;
    text-align: center;
    color: #fff;
    background: #252536 url(../img/textures_2.jpg) 50% 0 repeat;
    background-size: 50%;
    text-transform: uppercase;
    text-align: center;
}

.wrapper h1 {
    margin-top: 0;
}

.wrapper-footer{
    width: 100%;
    color: #fff;
    background-color: #e7e7e7;
    text-transform: uppercase;
    text-align: center;
    padding: 32px 0 10px;
}



.box-services {
    padding: 60px 0 0;
    background: #ECECEC;
}

.box-services h1 {
    margin-top: 0;
}

.box-services h5 {
    text-align: center;
}

.services {
    display: block;
    margin: 0;
    padding: 0;
}

.services li {
    text-align: center;
    padding: 0;
    margin: 10px 30px;
    list-style: none;
}

.box-services .col-md-4:nth-child(3n+1) {
    clear: left;
}

.box-clients{
    padding: 60px 0 40px;
    margin-left: 10px;
    margin-right: 10px;
    background: #fff;
}

.clients-list {
    text-align: center;
    margin-top: -20px;
}

.clients-list a {
    display: inline-block;
    margin: 20px;
}

.service h3{
    font-size: 40px;
}


.service h1{
    font-size: 70px;
    text-transform: uppercase;
    margin: 50px
}


.btnl{
    font-size: 13px;
    color: #222;
    background: #ECECEC;
    text-transform: uppercase;
    height: 32px;
    border: 2px solid #606060;
    width: 124px;
    margin-top: 30px;
    display: inline-block;
    cursor: pointer;
}

.btnl:hover{
    border: 2px solid #222;
}


h2.title {
    font-size: 40px;
    color: #222;
    text-transform: uppercase;
    margin-bottom: 40px;
    margin-top: 0px;
}

h5.title {
    font: 24px Khula, sans-serif;
    color: #222;
    text-transform: uppercase;
    margin: 150px 0 30px;
}

.ic1{
    background: url(../img/XBlock.png) no-repeat center top;
}

.ic2{
    background: url(../img/core-dev.png) no-repeat center top;
}

.ic3 {
    background: url(../img/themes.png) no-repeat center top;
}

.ic4{
    background: url(../img/deploy.png) no-repeat center top;
}

.ic5{
    background: url(../img/support.png) no-repeat center top;
}

.ic6 {
    background: url(../img/custom.png) no-repeat center top;
}

.ic1, .ic2, .ic3, .ic4, .ic5, .ic6 {
    padding: 10px 10px 0;
    background-size: 120px ;
    margin-bottom: 50px;
}
.sadffss .wrapper {
    margin-top: 40px;
}

.btn-g{
   font: 22px/60px Khula, sans-serif;
   text-align: center;
   color: #fff;
   text-transform: uppercase;
   background: none;
   margin-top:30px;
   height: 60px;
   border: 2px solid #ffffff ;
   width: 250px;
   display: inline-block;
   cursor: pointer;
   transition: border-color 0.2s linear;
}

.btn-g:hover{
   border: 2px solid #bfbfbf ;
}


/* carousel */

.carousel-caption {
    top: 100px;
    bottom: 0;
    padding: 20px 0;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;
}

.carousel-text {
    width: 100%;
}


.carousel-caption h1 {
   font: 300 70px/1.2 Khula, sans-serif;
   text-transform: uppercase;
   text-align: center;
   color:#fff;

}

.carousel-caption h3 {
   font: 300 30px/1.2 Khula, sans-serif;
   text-transform: uppercase;
   text-align: center;
   color:#fff;
}

.carousel {overflow:hidden;}


  .bottom-align-text {
    position: absolute;

      bottom: 20px;
  }
.carousel-inner {
    background: #252536;
}

.carousel-inner > div > img{
    min-height: 600px;
    min-width: 1450px;
    opacity: 0.5;
}

@media (max-width: 999px) and (min-width: 481px) {
    .carousel-caption {
        top: 0;
    }

    .carousel-inner > div > img{
        min-height: 400px;
        min-width: 1000px;
    }

    #raccoon-carousel {margin-top: 116px;}

    h5.title {margin-top: 80px;}

    .carousel-caption h1{font-size: 50px;}

    .carousel-caption h3{font-size: 20px;}

    .mainpage-col-kos{
        margin-right: 10px;
        margin-left: 10px;
    }

    .ic1, .ic2, .ic3, .ic4, .ic5, .ic6 {
        background-size: 75px ;
    }

    .row-height {
  display: inline-block;
}

.col-height {
  display: inline-block;
  table-layout: none;}
}

.message-send {
    position: absolute;
    vertical-align: middle;
    /*margin: 0 auto;*/
    top:300px;
    left:30%;
    width: 40%;
    height: 50%;
    z-index: 100;
    opacity: 0.85;
}

@media (max-width: 480px) {
#raccoon-carousel {margin-top: 58px;}
    .message-send {
        top:150px;
    }

    .carousel-caption {
        top: 0;
    }

    .carousel-caption h1{
        font-size: 30px;
        padding-bottom: 30px;
    }

    .carousel-caption h3{
        font-size: 16px;
        padding-bottom: 30px;
    }

    .btn-g {
        font-size: 12px;
        line-height: 26px;
        margin-top:5px;
        height: 30px;
        width: 120px;
        margin-bottom: -15px;
    }

.navbar-fixed-top {
    max-height: 94px;
}

.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 68px;
}

.navbar-brand > img {
    width: 155px;
    height: 58px;

}
    .clients-list a {
        display: block;
    }

    .carousel-inner > div > img{
        min-height: 250px;
        min-width: 600px;
    }

    .carousel-inner h3 {
        display: none;
    }
    h1,h2,h2.title {
        font-size: 30px;
        font-weight: 300;
    }
    h3 {
        font-size: 20px;
        font-weight: 300;
    }
    h5.title {
        font-weight: 300;
        font-size: 20px;
    }
}



.main-text {
    color: #909090;
    font-size: 18px;
}

/* contact us */

.sk-ml p{
   margin-top: 5px;
    margin-bottom: 35px;
    width: 220px;
}

.sk-ml p a{

   color: #72bb25 ;
   margin-left: 10px;

}

.sk-ml a:hover{
   color: #CBCBCB ;
}

.contacts-header {
    margin-top: 116px;
}

.message-form {
    padding: 30px 0 60px;
}
.message-form input{

   height: 40px;
   border: 1px solid #e3e3e3;
   display: block;
   border-radius: 0px;
   padding-top: 10px;
   font-size: 16px;
   line-height: 40px;
}

.message-form input::-webkit-input-placeholder {
   line-height: 40px;
}


.message-form textarea{
    padding: 12px 12px;
    background: #ffffff ;
    margin-bottom: 30px;
    border-radius: 0px;
    height: 205px;
    resize: none;
    font-size: 16px;
}

.form-control{
    font-size:14px;
}

.btnc {
   font: 20px/60px Khula, sans-serif;
   color: #72BB25 ;
   text-transform: uppercase;
   background: none;
   height: 60px;
   border: 2px solid #72BB25 ;
   width: 260px;
   cursor: pointer;
}


.btnc:hover{
   border: 2px solid #4d7c1b ;
}


.btnc img {
    margin-left: 5px;
    margin-top: -2px;
}


.blue-class {
    background-color: #2F2F4B;
    padding:60px 0;
}


/* blog */
.btnbtn-b{
    font: 13px Khula, sans-serif;
    color: #72BB25;
    background-color: #fff;
    text-transform: uppercase;
    height: 32px;
    border: 2px solid #72BB25;
    width: 124px;
    margin: 5px 0 30px 0;
    display: inline-block;
    cursor: pointer;

 }

.btnbtn-b:hover{
    border: 2px solid #658b3d;

 }


.col-kos{
    background: #fff;
    padding-top: 5px;
    border-bottom: 1px solid #eee;
}

.mainpage-col-kos {
    padding-top: 30px;
    background: #fff;
}

.mainpage-col-kos .wrapper {
    margin-top: 40px;
}

.col-kos p{
    display: inline-block;
    font-size: 16px;
    color: #3c3c3c;
}

.time{
    margin-top: 10px;
    display: inline-block;

}


.time p {

    margin :0 20px 0 0;
    color: #9f9f9f;
    font-size: 12px;

}
.background{
    width: 100%;
    background: #f5f4f4;

}

header > h1 > a{
    color:black;
}

/* div поверх полей ввода */

.overmessage {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: rgba(100,100,100,.5);
    border: 2px solid white;
    display: none;

}

.textinmessage {
    font: 700 1.5em Khula, sans-serif;
    color: #EEEEEE;
    text-transform: uppercase;
    line-height: 311px;
    margin: 0;
}

/* clients */
.client {
    display: inline-block;
    margin: 0;
    margin-bottom: 10px;
}

.bread > a{
    color:#72bb25;
}


.row-height {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}

.col-height {
  display: table-cell;
  float: none;
  height: 100%;
}
.carousel-control {
  transition: opacity 0.2s linear;
}

.messageDialog {
    top: 30%;
}
.messageDialog .modal-header{
    margin: 0 auto;
   background-color: #62b31c;
    color:white;
    font-size: x-large;
}

.messageDialog .modal-body{
    font-size: large;
    margin: 0 auto;
}