.navbar-brand {
    padding:0px;
    height: 116px;
}

.navbar-fixed-top {
    min-height: 115px;
    max-height: 152px;
    max-width: 1170px;
    border-image-width:0px;
    border-bottom: 0px;
}

.navbar-fixed-top {
    box-shadow: 0px 8px 8px -10px #ffffff;
    left: 50%;
    top: 0;
    width: 100%;
    position: fixed;
    margin: 0;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.navbar-toggle {
    margin-top: 0px;
    margin-bottom: 0px;
}

.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 116px;
    font-size: 18px;
    font-weight: 300;
    display: block;
    position: relative;
}

nav {
    margin: 0 auto;
    background-color: white;
    box-shadow: 0px 0px 5px #292929 ;
}

.navbar-nav {
    margin-right: 15px;
}

#myNavbar {
    float: right;
}

/* navbar */
.navbar-default {
    background-color: #FFFFFF;
    border-color: #E7E7E7;
}

/* title */
.navbar-default .navbar-brand {
    color: #868686;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #000;
}

/* link */
.navbar-default .navbar-nav > li {
    margin-right: 1px;
}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:active {
    color: #666;
}

.navbar-default .navbar-nav>.open>a div + div ,
.navbar-default .navbar-nav>.active>a div + div ,
.navbar-default .navbar-nav>.active>a:focus div + div,
.navbar-default .navbar-nav>.active>a:hover div + div {
    transform: translate3d(0,0,0);
    opacity: 1;
}

/* drop-down meny */
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover  {
    border-top-color: #777;
    border-bottom-color: #777;
    background-color: #B8DD92;
    background-image: none;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
    background-color: #72BB25;
    color: #FFFFFF;
    background-image: none;
}

/* mobile version */

@media (max-width: 1110px) {

    .nav > li > a {
        padding: 10px 10px !important;
    }
    
    nav .navbar-nav>li>a {
        font-size: 17px;
    }
}

@media (max-width: 1040px) {
    nav .navbar-nav>li>a {
        font-size: 16px;
    }
}

@media (max-width: 999px) {
    nav {width: 100%;}
    .services-wrapper {width:100%;}

    .navbar-nav > li > a {
        line-height: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-nav > li > a div + div {
        display: none;
    }
    .navbar-nav > li > a div:first-child {
        transform: none !important;
    }

    .navbar-nav > li li div {
        padding: 0 0;
        font-size: 13px;
    }

    li > a {
        background-color: #FFFFFF;
        border-color: #E7E7E7;
    }

    .navbar-default .navbar-nav .open .dropdown-menu>.active>a,
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus,
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover {
        background-color: #72BB25;
        color: #FFFFFF;
        background-image: none;
    }

    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus,
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
        color: #000;
        background-color: #B8DD92;
    }

    .navbar-collapse {
        margin: 0 auto;
        background-color: white;
        box-shadow: -1px 3px 5px -4px #222222 ;
    }

}

.carousel-caption {
    padding-bottom: 5%;
}

@media (max-width: 999px) and (min-width: 481px) {
    .navbar-toggle {
        margin: 30px 20px;
        padding: 20px;
    }

    .navbar-nav {
        margin: 7px 0;
    }

    .navbar-collapse {
        padding: 0;
        position: absolute;
        right: 0;
    }

    .navbar-default .navbar-nav > li > a {
        padding-top: 14px;
    }
}

@media (max-width: 480px)  {
    .navbar-toggle {
        margin: 12px 15px;
    }

    .navbar-brand {
        height: 58px;
    }

    .navbar-fixed-top {
        min-height: 0;
        max-height: 84px;
    }

    .navbar-collapse {
        padding: 0;
        position: absolute;
        right: 0;
        left: 0;
    }

    .navbar-default .navbar-nav > li > a {
        padding: 14px;
        line-height: 24px;
    }

    .navbar-nav {
        margin: 0;
    }

}

@media screen and (max-height: 400px) {
     .navbar-default .navbar-nav > li > a {
        padding: 5px;
        line-height: 20px;
    }

    .navbar-toggle {
        margin: 12px 15px;
        padding: 10px;
    }

    .navbar-brand, .navbar-fixed-top, .navbar-header {
        height: 58px;
    }

    .navbar-fixed-top {
        min-height: 0;
    }

    .navbar-nav {
        margin: 0;
    }

}
.navbar-nav > li > a div:first-child {
    transition: transform 0.3s ease;
    transform: none;
    position: relative;
    z-index: 1;
}

.navbar-nav > li > a:hover > div:first-child {
    transform: scale(0.7);
}

.navbar-nav > li > a div + div {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #72BB25;
    color: #FFF;
    opacity: 0;
    transform: translate3d(0,-100%,0);
    transition: transform 0.3s ease, opacity 0.2s linear;
}

.navbar-nav > li > a:hover div + div {
    transform: translate3d(0,0,0);
    opacity: 1;
}
.navbar-nav > li li div {
    padding: 6px 0;
    font-size: 16px;
}

.navbar-nav > li li div + div {
    display: none;
}


.navbar-nav>li>.dropdown-menu {
    margin-top: 5px;
    border-radius: 3px;
}

.active > a {
    background-color: #6bbb38 !important;
    background-image: linear-gradient(to bottom, #6bbb38 0, #6bbb38 100%) !important;
}


.nav_wrapper{
   background-image: -webkit-linear-gradient(top, #fff 0, #f8f8f8 100%);
   box-shadow: 0px 8px 8px -10px #292929 ;
   min-height: 58px;
   height: 116px;
   width: 1920px;
   position: fixed;
    top: 0px;
    z-index: 1;
}