

.wrapper{
    width: 100%;
    font: arial;
    color: #fff;
    background-color: #252536;
    text-transform: uppercase;
    text-align: center;
    padding: 32px 0;
}
    
    
.btn{
    font: 24px Arial, sans-serif;
    color: #72BB25;
    text-transform: uppercase;
    background: none;
    height: 60px;
    border: 2px solid #72BB25;
    width: 250px;
    display: inline-block;
    cursor: pointer; 
     
 }


.btn:hover{
    border: 2px solid #4d7c1b;

}


.static-area-footer-bottom{
    background-color: #e7e7e9;
    margin-top: 80px;
    text-align: center;
    padding: 40px 0 30px;

}


.footer_info{
    text-decoration: none;
    color: #222;
    font: 14px Arial, sans-serif;


}


.footer_info:hover{
    color: #72BB25;

}

.footer_name{
    color: #222222;
    font: 14px Arial, sans-serif;
    margin-top: 25px;
}


.social{margin-top: 25px;}

.social a{
    display: inline-block;
    width: 42px;
    height: 42px;
    margin: 0 2px;

    border-radius: 50%;
    background: url(/media/img/social.png) #72BB25 no-repeat;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
         -o-border-radius: 50%;

}

.social a.ic-fb{
    background-position: 0px 0;
  }


.social a.ic-fb:hover{
    background-position: 0px 0px;

    background-color: #252536;
    }

    .social a.ic-tw{
    background-position: -40px 0;
  }


.social a.ic-tw:hover{
    background-position: -40px 0px;

    background-color: #252536;
    }

  .social a.ic-in{
    background-position: -80px 0;
  }


.social a.ic-in:hover{
    background-position: -80px 0px;

    background-color: #252536;
    }

.social a.ic-g{
    background-position: -120px 0px;
  }


.social a.ic-g:hover{
    background-position: -120px 0px;

    background-color: #252536;
    }

.social a.ic-ins{
    background-position: -160px 0;
  }


.social a.ic-ins:hover{
    background-position: -160px 0px;

    background-color: #252536;
    }

.social a.ic-gh{
    background-position: -200px 0;
  }


.social a.ic-gh:hover{
    background-position: -200px 0px;

    background-color: #252536;
    }


body{
background: #fff;
height: 100%;
margin: 0;
padding: 0;
font: 14px Arial, sans-serif;
color: #222;
}


a {text-decoration: none;}


.text-right{text-align:right;}
.text-left{text-align:left;}


.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {clear:both;}

.left {float:left}
.right {float:right}

.container{
    width: 100%;
    max-width: 1170px;
    min-width: 300px;
    text-align: center;
    margin: 10px;
    margin: 0 auto;
}

.container h3{
    font: 40px arial, sans-serif;

}

.container h1{

    font: 70px arial, sans-serif;
    text-transform: uppercase;
    margin: 50px

}

#text p{
    font: 18px/30px Arial, sans-serif;
    color: #909090;
    margin-top: 30px;
    text-align: justify;
}





.box{
padding: 120px 0;
}

/*////////////SERVICES////////////////*/


#services{
    text-align: center;
    background-color: #ececec;
}


h2.title {
    font: bold 40px Arial, sans-serif;
    color: #222;
    text-transform: uppercase; /*все заглавные буквы*/
    margin-bottom: 0px;
}



h5.title {
    font: bold 24px Arial, sans-serif;
    color: #222;
    margin-bottom: 10px;
}


.services-item p{
    font-size: 18px;
    color: #777;
    line-height: 24px; /*расстояние между сторчками*/
    padding: 0 15px;
}


.services-item{
    float:left;
    width: 33.33%;
    padding-top: 100px;

}


.portfolio-wrap,
.servises-wrap,
.about-wrap,
 #message{
    padding-top: 70px;


    }

.ic1{
    background: url(../img/1.png) no-repeat center top;

}



.ic2{
    background: url(../img/2.png) no-repeat center top;

}



.ic3 {
    background: url(../img/3.png) no-repeat center top;

}
.ic4{
    background: url(../img/4.png) no-repeat center top;

}



.ic5{
    background: url(../img/5.png) no-repeat center top;

}



.ic6 {
    background: url(../img/6.png) no-repeat center top;

}

.ic1, .ic2, .ic3, .ic4, .ic5, .ic6 {
    padding: 5%;
}

.descr {
    font: 16px;
    color: #777;
    padding:10px;
}

/*////////////Call To Extion////////////////*/

.wra {
    width: 100%;
    font: arial, sans-serif;
    color: #fff;
    background-color: #252536;
    text-transform: uppercase;
    text-align: center;
    padding: 25px 0 30px 0;


}


.btn{
    font: 24px Arial, sans-serif;
    color: #72BB25;
    text-transform: uppercase;
    background: none;
    margin-top:30px;
    height: 60px;
    border: 2px solid #72BB25;
    width: 250px;
    display: inline-block;
    cursor: pointer;

 }


.btnl{
    font: 13px Arial, sans-serif;
    color: #222;
    background: #ECECEC;
    text-transform: uppercase;
    height: 32px;
    border: 2px solid #606060;
    width: 124px;
    margin-top: 30px;
    display: inline-block;
    cursor: pointer;

 }

.btnl:hover{
    border: 2px solid #222;

 }







.btn:hover{
    border: 2px solid #4d7c1b;


}


.call{
    font: bold 40px Arial, sans-serif;
    margin-bottom:20px
}


/*////////////OUR CLIENTS////////////////*/


#brand{
    padding: 60px 0;
    text-align: center;
}


#brand a{
    margin-right: 50px;

}


#brand a:hover{
    opacity: 0.8;

}


#brand a:last-child{margin-right:0;}

#brand img{vertical-align: middle;}



/*////////////FOOTER////////////////*/

.static-area-footer-bottom{
    background-color: #e7e7e9;
    margin-top: 80px;
    text-align: center;
    padding: 40px 0 30px;

}


.footer_info{
    text-decoration: none;
    color: #222;
    font: 14px Arial, sans-serif;


}


.footer_info:hover{
    color: #72BB25;

}

.footer_name{
    color: #222222;
    font: 14px Arial, sans-serif;
    margin-top: 25px;
}


.social{margin-top: 25px;}

.social a{
    display: inline-block;
    width: 42px;
    height: 42px;
    margin: 0 2px;

    border-radius: 50%;
    background: url(../img/social.png)#72BB25 no-repeat;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
         -o-border-radius: 50%;

}

.social a.ic-fb{
    background-position: 0px 0;
  }


.social a.ic-fb:hover{
    background-position: 0px 0px;

    background-color: #252536;
    }

    .social a.ic-tw{
    background-position: -40px 0;
  }


.social a.ic-tw:hover{
    background-position: -40px 0px;

    background-color: #252536;
    }

  .social a.ic-in{
    background-position: -80px 0;
  }


.social a.ic-in:hover{
    background-position: -80px 0px;

    background-color: #252536;
    }

.social a.ic-g{
    background-position: -120px 0px;
  }


.social a.ic-g:hover{
    background-position: -120px 0px;

    background-color: #252536;
    }

.social a.ic-ins{
    background-position: -160px 0;
  }


.social a.ic-ins:hover{
    background-position: -160px 0px;

    background-color: #252536;
    }

.social a.ic-gh{
    background-position: -200px 0;
  }


.social a.ic-gh:hover{
    background-position: -200px 0px;

    background-color: #252536;
    }

