cmsplugin-filer==1.0.1
Django==1.8.11
django-admin-sortable==2.0.1
django-appconf==1.0.1
django-classy-tags==0.7.2
django-cms==3.2.3
django-debug-toolbar==1.3.2
django-filer==1.1.1
django-meta==0.3.1
django-meta-mixin==0.1.1
django-mptt==0.8.3
django-parler==1.5
django-polymorphic==0.8.1
django-reversion==1.8.7
django-sekizai==0.9.0
Django-Select2==4.3.2
django-taggit==0.17.1
django-taggit-autosuggest==0.2.7
django-taggit-templatetags==0.2.5
django-templatetag-sugar==1.0
django-treebeard==4.0
djangocms-admin-style==1.1.0
djangocms-blog==0.5.0
djangocms-column==1.6.0
djangocms-flash==0.2.0
djangocms-googlemap==0.3
djangocms-inherit==0.1.1
djangocms-link==1.7.2
djangocms-style==1.7.0
djangocms-text-ckeditor==2.9.0
easy-thumbnails==2.3
html5lib==0.9999999
MySQL-python==1.2.5
Pillow==3.1.1
pytz==2016.1
six==1.10.0
sorl-thumbnail==12.3
sqlparse==0.1.16
Unidecode==0.04.19
wheel==0.24.0
argparse==1.2.1
dj-database-url==0.4.0
django-formtools==1.0
djangocms-installer==0.8.7
tzlocal==1.2.2
wsgiref==0.1.2