{% load cms_tags staticfiles sekizai_tags menu_tags %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Raccoon Gang{% endblock title %}</title>

    <meta name="description" content="{% page_attribute meta_description %}"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/media/css/bootstrap.min.css">
    <link rel="stylesheet" href="/media/css/bootstrap-theme.min.css">

    <link href='https://fonts.googleapis.com/css?family=Khula:400,300,100,700, 600' rel='stylesheet' type='text/css'>
    <!-- <link rel="stylesheet" href="/media/css/style.css"> -->
    <link rel="icon" type="image/png" href="/media/img/favicon.png" height="13px" width="16px"/>

    {% render_block "css" %}
    <link rel="stylesheet" href="/media/css/footer.css">

    <link rel="stylesheet" href="/media/css/main.css">
    <link rel="stylesheet" href="/media/css/menu.css">
    <link rel="stylesheet" href="/media/css/table.css">
    <link rel="stylesheet" href="/media/css/fonts.css">
    <link rel="stylesheet" href="/media/css/all.css">
    <link rel="stylesheet" href="/media/css/testinonials.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/js/bootstrap-dialog.min.js"></script>

    <script type="text/javascript">

        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-60134517-1', 'auto');  // Replace with your property ID.
        ga('send', 'pageview');
    </script>
    <!-- BEGIN JIVOSITE CODE {literal} -->
    <script type='text/javascript'>
    (function(){ var widget_id = 'IV9JgYurk3';
        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = '//code.jivosite.com/script/widget/'+widget_id;
        var ss = document.getElementsByTagName('script')[0];
        ss.parentNode.insertBefore(s, ss);})();
    </script>
    <!-- {/literal} END JIVOSITE CODE -->
</head>
<body>
{% cms_toolbar %}
<div class="nav_wrapper">
    <nav class="navbar navbar-fixed-top navbar-default" role="navigation">
        <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="/"><img src="/media/img/logo.png"  height="90px"> </a>
         </div>

         <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    {% show_menu 0 100 100 100 "menu.html" %}
                </ul>
         </div>

{#        <div class="breadcrumb pull-left bread">#}
{#               {% block breadcrumb %}#}
{#                     {% show_breadcrumb 1 "raccoon_breadcrumbs.html" %}#}
{#               {% endblock %}#}
{#        </div>#}
    </nav>
</div>
{% block content %}{% endblock content %}
        <footer>

                <div class="wrapper-footer">
                    <div class="media-area-footer-bottom">
                        <a href="mailto:info@raccoongang.com" class="footer_info">info@raccoongang.com</a>
                   <div class="social">
                     <a href="https://www.facebook.com/raccoongangco" class="ic-fb" target="_blank"></a>
                 <!--    <a href="#" class="ic-tw"></a> -->
                     <a href="https://www.linkedin.com/company/raccoon-gang" class="ic-in" target="_blank"></a>
                 <!--      <a href="#" class="ic-g"></a>
                     <a href="#" class="ic-ins"></a>
                     <a href="https://github.com/raccoongang" class="ic-gh"></a>-->
                  </div>
                   <h1 class="footer_name" id="year"></h1>
                  </div>
                  </div>
                </div>
                <b id="year"></b>

        </footer>

<!-- on hove menu scripts
<script src="/media/js/bootstrap.min.js"></script>
<script src="/media/js/bootstrap-hover-dropdown.min.js"></script> -->
<script>
$("#year").html('&copy; RACCOON GANG '+new Date().getFullYear() );
if ($(".breadcrumb").children().length > 1) {
    $(".breadcrumb").show();
}

$(document).ready(function(){
{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'info' %}
            var a = '{{ message }}';
            var messages = a.split('|');
           BootstrapDialog.show({
{#               size:'size-small',#}
               cssClass:'messageDialog',
               closable:true,
               type:'type-success',
               title: '<h3 align=center>'+messages[0]+'</h3>',
               message: '<h3 align=center>'+messages[1]+'</h3>'
            });
        {% endif %}
    {% endfor %}
{% endif %}
});
</script>
{% render_block "js" %}
</body>
</html>
