{% load cms_tags staticfiles sekizai_tags menu_tags %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Raccoon Gang{% endblock title %}</title>

    <meta name="description" content="{% page_attribute meta_description %}"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/media/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="/media/css/bootstrap-theme.min.css">-->
    {% block blog_rel %}{% endblock blog_rel %}
    <link href='https://fonts.googleapis.com/css?family=Khula:400,300,100,700, 600' rel='stylesheet' type='text/css'>
    <!-- <link rel="stylesheet" href="/media/css/style.css"> -->
    <link rel="icon" type="image/png" href="/media/img/favicon.png" height="13px" width="16px"/>

    {% render_block "css" %}

    <link rel="stylesheet" href="/media/css/all_styles.min.css">
    <link rel="stylesheet" href="/media/css/thanks_page.css">
    <link rel="stylesheet" href="/media/css/footer.css">
    <!-- BEGIN JIVOSITE CODE {literal} -->
    <script src=/media/js/base_head.js ></script>
    <!-- {/literal} END JIVOSITE CODE -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/js/bootstrap-dialog.min.js"></script>
</head>
<body>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-XXXX"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

<!-- End Google Tag Manager -->
{% cms_toolbar %}
<div class="nav_wrapper">
    <nav class="navbar navbar-fixed-top navbar-default" role="navigation">
        <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="/"><img src="/media/img/logo.png"  height="90px"> </a>
         </div>

         <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                   {% show_menu 0 100 100 100 "menu.html" %}
                </ul>
         </div>
    </nav>
</div>

{% block content %}{% endblock content %}



    <footer>
        <div class="wrapper-footer">
            <div class="media-area-footer-bottom">
                                {% show_breadcrumb 0 "menu/breadcrumb.html" 0 %}
              <div class = "footer-address-area" itemscope itemtype="http://schema.org/LocalBusiness">

                  <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                      <span itemprop="name">Raccoon Gang</span>
                        <span class="inline" itemprop="postalCode">11415</span>
                        <span class="inline" itemprop="addressCountry">Estonia</span>
                        <span class="inline" itemprop="addressLocality">Tallinn</span>
                        <span class="inline" itemprop="streetAddress">Pae tn 21</span>
                      <span itemprop="telephone">+1 857 4533328</span>
                <span itemprop="email">
                  <a href="mailto:info@raccoongang.com" class="footer_info">info@raccoongang.com</a>
                </span>
                  </div>

              </div>


           <div class="social">
             <a href="https://www.facebook.com/raccoongangco" class="ic-fb" target="_blank"></a>
             <a href="https://twitter.com/raccoongangcom" class="ic-tw" target="_blank"></a>
             <a href="https://www.linkedin.com/company/raccoon-gang" class="ic-in" target="_blank"></a>
         <!--      <a href="#" class="ic-g"></a>
             <a href="#" class="ic-ins"></a>
             <a href="https://github.com/raccoongang" class="ic-gh"></a>-->
           </div>
           <p class="footer_name" id="year"></p>
          </div>
          </div>
        </div>
        <b id="year"></b>

    </footer>

<script src=/media/js/base_body.js ></script>
<script>
$(document).ready(function(){
{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'info' %}
            var a = '{{ message }}';
            var messages = a.split('|');
           BootstrapDialog.show({
    {#               size:'size-small',#}
               cssClass:'messageDialog',
               closable:true,
               type:'type-success',
               title: '<h3 align=center>'+messages[0]+'</h3>',
               message: '<h3 align=center>'+messages[1]+'</h3>'
            });
        {% endif %}
    {% endfor %}
{% endif %}
});
</script>
{% render_block "js" %}
</body>
</html>
