{% extends "base.html" %}
{% load cms_tags sekizai_tags %}
{% block title %}{% page_attribute "page_title" %}{% endblock title %}
{% block content %}

<div class="background">
    <section class="form-section">
        <div class="container mainpage-col-kos">
                <!--<div class="row contacts-header">-->
                    <div class="col-xs-12">
                        <h1 сlass="title">Contact us</h1>
                    </div>
                <!--</div>-->
            <div class="message-form row">
                    {% placeholder 'Contact us text' %}
                <div class="col-md-3 sk-ml">
                    <div class="row">
                        <div class="col-xs-2">
                           <p><img src="/media/img/skype.png" width="26px" height="26px"></p>
                           <p><img src="/media/img/mail.png" width="30px" height="20px"></p>
                           <p><img src="/media/img/phone_icon.png" width="24px" height="28px"></p>
                           <p><img src="/media/img/map_icon.png" width="24px" height="28px"></p>
                        </div>
                        <div class="col-xs-10">
                            <p style="text-indent: -10px;"><a href="skype:Go.Raccoons?chat">Go.Raccoons</a></p>
                            <p style="text-indent: -10px;"><a href="mailto:info@raccoongang.com">info@raccoongang.com</a></p>
                            <p style="text-indent: -10px;"><span class="map">+1 857 4533328</span></p>
                            <p style="text-indent: -10px;"><span class="map">9455 SW 106 ST MIAMI, FL 33176</span></p>

                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <form  id="send_form">
                        {% csrf_token %}
                        <fieldset>
                            <div class="form-holder">
                                <div style="position: relative;">
                                 <div class="overmessage" id="success">
                                     <p id="finalMessage" class="text-center textinmessage"></p>
                            </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" id="mail" placeholder="Email" name="mail">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="name" placeholder="Name" name="name">
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" rows="6" id="message" placeholder="Text" name="message"></textarea>
                                </div>
                            </div>
                            <div class="submit-holder">
                                <button type="button"  class="btnc pull-right" id="send_form_submit">
                                  Send message <img src="/media/img/arrow.png" width="35px" height="12px" class="arr">
                                </button>
                            </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
<script >
 $(document).on('click', '#send_form_submit', function (event){
            $.ajax({
                type: 'POST',
                url: "{% url 'send_email:send_email' %}",
                data: $('#send_form').serialize(),
                success: function(data){
                    console.log(data);
                    if (data['success']){
                        $('#mail').val('');
                        $('#name').val('');
                        $('#message').val('');
                        $('#mail').css("border","1px solid black");
                        $('#name').css("border","1px solid black");
                        $('#message').css("border","1px solid black");
                        $('#finalMessage').text(data['notification']);
                        window.location.href = "{% page_url "thanks" %}";
                        }
                    else {
                        $('#name').css("border","1px solid black");
                        $('#mail').css("border","1px solid black");
                        $('#message').css("border","1px solid black");
                        $('#name').css("border","2px solid "+data['errors']['name']);
                        $('#mail').css("border","2px solid "+data['errors']['mail']);
                        $('#message').css("border","2px solid "+data['errors']['message']);//
                        }
                }
	        })
	    });
</script>
{% endblock content %}
