{% extends "base.html" %}
{% load cms_tags %}
{% block title %}{% page_attribute "page_title" %}{% endblock title %}
{% block content %}

    <div class="background">
        <section class="form-section">
                <div class="container mainpage-col-kos">
                    <div class="row contacts-header">
                        <div class="col-xs-12">
                            <h1 сlass="title">Contact us</h1>
                        </div>
                    </div>
                    <div class="message-form row">
                        {% placeholder 'Contact us text' %}
                    <div class="col-md-3 sk-ml">
                        <p><img src="/media/img/skype.png" width="26px" height="26px"><a href="#">Go.Raccoons</a></p>
                        <p><img src="/media/img/mail.png" width="30px" height="20px"><a href="#">info@raccoongang.com</a></p>
                    </div>

                    <div class="col-md-6">

                        <form  id="send_form">
                            <fieldset>

                                <div class="form-holder">
                                    <div style="position: relative;">
                                     <div class="overmessage" id="success">
                                         <p id="finalMessage" class="text-center textinmessage">sdfsdfasfasfa</p>
                                </div>
                                    <div class="form-group">

                                        <input type="email" class="form-control" id="mail" placeholder="Email" name="mail">
                                    </div>
                                    <div class="form-group">



                    <input type="text" class="form-control" id="name" placeholder="Name" name="name">
                                    </div>
                                    <div class="form-group">



                                        <textarea class="form-control" rows="6" id="message" placeholder="Text" name="message"></textarea>
                                    </div>
                                        </div>
                  <div class="submit-holder">
                    <button type="button" id="send_form_submit" class="btnc pull-right">Send message <img src="/media/img/arrow.png" width="35px" height="12px" class="arr">
</button>

                  </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                        </div>
                </div>
            </section>
    </div>
{% endblock content %}
