{% extends "base.html" %}
{% load cms_tags %}

{% block content %}

        <section id="contactus" class="form-section">
                <div class="container-fluid">
                    <div class="row">
                    <div class="contacts-header">
                        <h1 class="pull-right">Contact us</h1>
                    </div>

                    <div class="col-md-3 col-md-offset-2 sk-ml">
                        <p><img src="/media/img/skype.png"><a href="#">Go.Raccoons</a></p>
                        <p><img src="/media/img/mail.png"><a href="#">info@raccoongang.com</a>

                    </div>
                    <div class="col-md-5">
                        <form class="message-form" id="send_form">
                            <fieldset>

                                <div class="form-holder">
                                    <div class="form-group">

                    <p id="error_mail"></p>
                                        <input type="email" class="form-control" id="mail" placeholder="Email" name="mail">
                                    </div>
                                    <div class="form-group">


                    <p id="error_name"></p>
                    <input type="text" class="form-control" id="name" placeholder="Name" name="name">
                                    </div>
                                    <div class="form-group">


                    <p id="error_message"></p>
                                        <textarea class="form-control" rows="6" id="message" placeholder="Text" name="message"></textarea>
                                    </div>
                  <div class="submit-holder">
                    <button type="button" id="send_form_submit" class="btnc pull-right">Send message
</button>
                    <p id="success" style="display:none;"></p>
                  </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                        </div>
                </div>
            </section>
{% endblock content %}