{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
    <div class="background">
    <div class="top-div-padding"></div>
       <div class="main-content-block row">
        <div class="container">
            <div class="col-xs-12">
                {% placeholder "text" %}
            </div>
        </div>
    </div>

    {% placeholder "img" %}

    <div class="main-content-block row">
        <div class="container">
            <div class="col-xs-12">
                {% placeholder "feature" %}

            </div>
        </div>
    </div>
    <div>
        {% placeholder "call" %}
    </div>


     <div>
        {% placeholder "call" %}
    </div>


    </div>

{% endblock content %}
