{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
    <div class="background">
    <div class="top-div-padding"></div>


    {% placeholder "img" %}

    <div class="main-content-block row">
        <div class="container">
            <div class="col-xs-12">
                {% placeholder "feature" %}

            </div>
        </div>
    </div>

        {% placeholder "call" %}

    <div class="main-content-block row">
        <div class="container">
            <div class="col-xs-12">
                {% placeholder "text" %}

            </div>
        </div>
    </div>
        <div>
            {% placeholder "on_footer" %}
        </div>
    </div>

{% endblock content %}
