{% extends "base.html" %}
{% load cms_tags %}

{% block content %}
    <div class="row">

    {% placeholder "gallery" %}

    <div class="main-content-block box-services row">
        <div class="col-md-10 col-md-offset-1">
        {% placeholder "content" %}
            </div>
    </div>


    <div class="service box-services">
        <h2 class="title" align="center">services</h2>
        <div class="row" style="position: relative; height: 473px;">
        <div class="col-md-4 ic1">
            {% placeholder "service1" %}
        </div>
        <div class="col-md-4 ic2">
            {% placeholder "service2" %}
        </div>
        <div class="col-md-4 ic3">
            {% placeholder "service3" %}
        </div>
        </div>
        <div class="row" style="position: relative; height: 473px;">
        <div class="col-md-4 ic4">
            {% placeholder "service4" %}
        </div>
        <div class="col-md-4 ic5">
            {% placeholder "service5" %}
        </div>
        <div class="col-md-4 ic6">
            {% placeholder "service6" %}
        </div>
            </div>
        </div>

    <div>
        {% placeholder "to action" %}
    </div>
    <div class="box-services">
        <h2 class="title" align="center">Our happy clients</h2>
        {% placeholder "clients" %}
    </div>

        <div>
        {% placeholder "to action 2" %}
    </div>
    </div>
{% endblock content %}

