{% extends "base.html" %}
{% load cms_tags sekizai_tags %}

{% block content %}
    {% placeholder "gallery" %}
    <div class="main-content-block row testinonials-wrapper">
        <div class="container">
            <div class="col-xs-12">
            {% placeholder "content" %}
            </div>
        </div>
    </div>
    <div class="box-clients">
        <div class="container">
            <h2 class="title" align="center">Our clients</h2>
            {% placeholder "clients" %}
        </div>
    </div>
    {% placeholder "testinonials" %}

    <div class="box-services">
        {% placeholder "service" %}
    </div>

    <div class="box-contact">
        {% placeholder "to action" %}
    </div>


    <div class="box-openedx">
        {% placeholder "to action 2" %}
    </div>

{% endblock content %}

