<div class="breadcumbs-tnx" itemscope itemtype="http://schema.org/BreadcrumbList">
{% for ance in ancestors %}
    <div itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    {% if not forloop.last or post.title %}
        <a class="bredcumb-item" itemprop="item" href="{{ ance.get_absolute_url }}">
            <span itemprop="name">{{ ance.get_menu_title }}</span></a>
        <span class="separator" >&gt;</span>
        <!--<meta itemprop="position" content="1" />-->
    </div>
    {% else %}
    <div>
    {% if ance.title != "Home" %}
        <span class="active">{{ ance.get_menu_title }}</span>
    {% endif %}
    </div>
    {% endif %}
{% endfor %}
{% if post.title %}
    <span class="active">{{ post.title }}</span>
{% endif %}
</div></div>