
<table style="border: 1px solid black;">
<tbody>
    <tr >
        <td colspan="2" style="border-bottom: 1px solid black;background-color:lightgrey;"><b>Overall info</b></td>
    </tr>
    <tr>
       <td>First name</td>
       <td>{{ dict.first_name|default:"None" }}</td>
    </tr>
    <tr>
       <td>Last name</td>
       <td>{{ dict.second_name|default:"None" }}</td>
    </tr>
    <tr>
       <td>Email</td>
       <td>{{ dict.email|default:"None" }}</td>
    </tr>
    <tr>
       <td>Organization</td>
       <td>{{ dict.organization|default:"None" }}</td>
    </tr>
    <tr>
       <td>Job title/td>
       <td>{{ dict.job_title|default:"None" }}</td>
    </tr>
    <tr>
       <td>Website</td>
       <td>{{ dict.website|default:"None" }}</td>
    </tr>
    <tr>
       <td>Please tell the purpose of using open edx:</td>
       <td>{{ dict.purpose|default:"None" }}</td>
    </tr>

    <tr>
        <td colspan="2" style="border-bottom: 1px solid black;background-color:lightgrey;"><b>Configuration</b></td>
    </tr>

    <tr>
       <td>Number of active users</td>
       <td>{{ dict.active_users2|default:"None" }}</td>
    </tr>
    <tr>
       <td>Number of registered users</td>
       <td>{{ dict.registered_users2|default:"None" }}</td>
    </tr>
    <tr>
       <td>Hosting</td>
       <td>{{ dict.hosting|default:"None" }}</td>
    </tr>
    <tr>
       <td>Mobile apps</td>
       <td>{{ dict.mobileapp|default:"None" }}</td>
    </tr>

    <tr>
        <td colspan="2" style="border-bottom: 1px solid black;background-color:lightgrey;"><b>Customization</b></td>
    </tr>

    <tr>
       <td>What language(s) system should support?</td>
       <td>{{ dict.localization2|default:"None" }}</td>
    </tr>
    <tr>
       <td>Certificates</td>
       <td>{{ dict.certificates2|default:"None" }}</td>
    </tr>
    <tr>
       <td>LTI</td>
       <td>{{ dict.lit2|default:"None" }}</td>
    </tr>
    <tr>
       <td>SSO</td>
       <td>{{ dict.sso2|default:"None" }}</td>
    </tr>
    <tr>
       <td>SCORM</td>
       <td>{{ dict.scorm|default:"None" }}</td>
    </tr>
    <tr>
       <td>Payment Systems</td>
       <td>{{ dict.commerce|default:"None" }}</td>
    </tr>
    <tr>
       <td>Microsites</td>
       <td>{{ dict.microsites|default:"None" }}</td>
    </tr>

    <tr>
        <td colspan="2" style="border-bottom: 1px solid black;background-color:lightgrey;"><b>XBLOCKS</b></td>
    </tr>

    <tr>
       <td>Enable custom xblocks</td>
       <td>{{ dict.xb_enable|default:"None" }}</td>
    </tr>
    <tr>
       <td>Develop brand new xblocks</td>
       <td>{{ dict.xb_dev|default:"None" }}</td>
    </tr>
</tbody>
</table>