{% load i18n thumbnail cms_tags %}

<article id="post-{{ post.slug }}" class="post-item">
    <header>
        <h1><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h1>
        <hr>

    </header>

    {% if image and post.main_image %}
    <div class="blog-visual">
        {% thumbnail post.main_image post.thumbnail_options.size crop=post.thumbnail_options.crop upscale=post.thumbnail_options.upscale subject_location=post.main_image.subject_location as thumb %}
        <img src="{{ thumb.url }}" alt="{{ post.main_image.default_alt_text }}" width="{{ thumb.width }}" height="{{ thumb.height }}" />
    </div>
    {% endif %}
            {% block blog_meta %}
            {% include "djangocms_blog/includes/blog_meta.html" %}
        {% endblock %}
        <hr>
    <div class="lead">
        {% render_model post "post_text" "" "" 'truncatewords_html:TRUNCWORDS_COUNT' %}
    </div>
    <footer class="read-more" onclick="window.location='{{ post.get_absolute_url }}'">
        <button class="btnbtn-b">MORE INFO
                         <img src="/media/img/arrow-b.png" class="arr">
                        </button>
    </footer>
</article>
