{% extends "base.html" %}
{% load cms_tags sekizai_tags %}
{% load i18n %}
{% block title %}Edx questionary{% endblock title %}

{% block content %}
    {% addtoblock "css" %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/questionary_style.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/quiz.css">
    {% endaddtoblock %}
<div class="top-div-padding"></div>
    <div class="container">
        <div class="row">
            <div class="quiz-header">
                <h1></h1>
                <p><span></span></p>
                <ul class="quiz-steps">
                    {% for step in all_steps %}
                        <li class="{% if form_step.order == forloop.counter %}active{% elif form_step.order > forloop.counter %}done{% endif %}" style="width: {{ step_width }}%">
                            <a href="#">
                                <i>{{ forloop.counter }}</i>{{ step }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <p>{{ form_step.description }}</p>
            </div>
        </div>
        <div class="row">
            <form action="" method="post" id="survey-form" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-md-6 quiz-fields">
                    {{ form }}
                </div>
                <div class="highlights">
                    {% for image in form_step.formgallery_set.all %}
                    <div class="highlight-area" data-linked-to="{{ image.data_attribute }}">
                        <img src="{{ image.image.url }}" class="highlight-img" alt="{{ image.name }}" title="{{ image.name }}">
                    </div>
                    {% endfor %}
                </div>
            </form>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="bottom-p quiz-buttons">
                    <!--<div class="progress progress-striped active margin-bottom">
                        <div class="bar" style="width: {{ progress }}%;"></div>
                    </div>-->
                    <!--<ul class="steps current-step-{{ form_step.order }}">
                    {% for i in max_order_range %}
                        <li>{{ i }}</li>
                    {% endfor %}
                    </ul>-->
                        {% if form_step.order > 1 %}
                            <a href="#" class="btn btn-back">&larr; {% trans "Back" %}</a>
                        {% endif %}
                        {% if form_step.order < max_order %}
                            <a href="#" class="btn btn-next">{% trans "Next" %} &rarr;</a>
                        {% else %}
                            <a href="#" class="btn btn-finish">{% trans "Ok" %}</a>
                        {% endif %}

                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script>
    The Sandbox has limited functionality and is not available for a full online courses.
In order to move your courses to the Raccoon University platform, run paid online courses, include certificates, or get answers to your questions, please fill in the form below.
        var lang = navigator.language;
        var russian = ['ru-mo', 'ru', 'uk', 'ru-RU'];
        var english_h1 = 'The Sandbox has limited functionality and is not available for a full online courses.';
        var english_p = 'In order to move your courses to the <a href="https://university.raccoongang.com/" target="_blank">Raccoon University platform</a> , run paid online courses, include certificates, or get answers to your questions, please fill in the form below.';
        var russian_h1 = 'Песочница имеет ограниченный функционал и не предусмотрена для полноценного проведения онлайн курсов.';
        var russian_p = 'Для того, чтобы перенести курсы на платформу <a href="https://university.raccoongang.com/" target="_blank">Raccoon University</a> запустить платные онлайн курсы, включить сертификаты или получить ответы на ваши вопросы, заполните пожалуйста форму.';
        console.log(lang);
        if ($.inArray(lang, russian) == -1){
            $('.quiz-header > h1').html(english_h1);
            $('.quiz-header p span').html(english_p);
            $('label[for="id_name"]').html('First name');
            $('label[for="id_surname"]').html('Last name');
            $('label[for="id_course_id"]').html('Course id');
            $('label[for="id_problem_desc"]').html('Problem description');
            $('.quiz-steps a').html('<i>1</i>Enter your data ');
        }
        else {
            $('.quiz-header > h1').html(russian_h1);
            $('.quiz-header  p span').html(russian_p);
{#            $('label[for="id_name"]').html('Имя');#}
{#            $('label[for="id_surname"]').html('Фамилия');#}


        }
    </script>
    {% addtoblock "js" %}
        <script src="{{ STATIC_URL }}js/quiz.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {

                $('.btn-next').click(function () {
                    sendForm({{ form_step.order }}+1);
                    return false;
                });
                $('.btn-back').click(function () {
                    sendForm({{ form_step.order }}-1);
                    return false;
                });
                $('.btn-finish').click(function () {
                    ga('send', 'event', 'survey', 'click', 1);
                    sendForm(-1);
                    return false;
                });

            });


            function sendForm(step) {
                $('#survey-form').append('<input type="hidden" name="form_step" value="' + step + '">').submit();
            }
        </script>
    {% endaddtoblock %}
{% endblock content %}
