<table style="border: 1px solid black; width:559px;">
<tbody>
    <tr>
       <td>Имя</td>
       <td>{{ dict.name|default:"None" }}</td>
    </tr>
    <tr>
       <td>Фамилияe</td>
       <td>{{ dict.surname|default:"None" }}</td>
    </tr>
    <tr>
       <td>E-mail</td>
       <td>{{ dict.email|default:"None" }}</td>
    </tr>
    <tr>
       <td>Идентификационный номер курса</td>
       <td>{{ dict.course_id|default:"None" }}</td>
    </tr>
    <tr>
       <td>Описание проблемыn</td>
       <td>{{ dict.problem_desc|default:"None" }}</td>
    </tr>

</tbody>
</table>