<table style="border: 1px solid black; width:559px;">
<tbody>
    <tr>
       <td>First name</td>
       <td>{{ dict.name|default:"None" }}</td>
    </tr>
    <tr>
       <td>Last name</td>
       <td>{{ dict.surname|default:"None" }}</td>
    </tr>
    <tr>
       <td>E-mail</td>
       <td>{{ dict.email|default:"None" }}</td>
    </tr>
    <tr>
       <td>Course id</td>
       <td>{{ dict.course_id|default:"None" }}</td>
    </tr>
    <tr>
       <td>Problem description</td>
       <td>{{ dict.problem_desc|default:"None" }}</td>
    </tr>

</tbody>
</table>